
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:#F4A91C;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 200px ;
}










.logo{
    text-decoration: none;
    color: #0D1D5F;

    font-weight: 300;
    font-size: 1.1em;
}
.navigator a{
    text-decoration: none;
    color: #0D1D5F;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4em;
    padding-left: 30px;
}
.navigator a:hover{
    color: #FCF524;
}
section{
   padding: 100px 200px; 
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(mee.jpg)no-repeat;
    background-size: 800px ;
    background-position: center;
    background-attachment: fixed;
    background-color: #C7C4BF ;
    
}
.main h2{
    color: #1D125F;
    font-size: 1.4em;
    font-weight : 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #0D1D5F;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
color: #1D125F;
font-size: 2em;
font-weight: 700;
letter-spacing:  1px;
margin-top: 10px;
margin-bottom: 10px;
}
.main-btn{
    color: white;
    background-color: red;
     text-decoration: none ;
     font-size: 1.1em;
     font-weight: 600;
     display: inline-block;
     padding: 0.9375em;
     letter-spacing: 1px;
     border-radius: 15px;
     margin-bottom: 40px;
     transition: 0.6s ease;
}
.main-btn:hover{
    background-color: rgb(178, 44, 67) ;
    transform: scale(1.1,1.1);
}
.social-icons a{
    color: red;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: #1D125F;
    font-weight: 800;
    font-size: 2.2em;
    margin-bottom: 30px;
}
.person1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.person2{
    background-color: gray;
    width: 21.25em; 
    box-shadow: "0 5px 25px rgba(1 1 1 / 15%)";
    border-radius: 10px;
    padding: 25px;
    margin: 15px ;
    transition: 0.6s ease;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #C7C4BF;
    width: 21.25em; 
    box-shadow: "0 5px 25px rgba(1 1 1 / 15%)";
    border-radius: 10px;
    padding: 25px;
    margin: 15px ;
    transition: 0.6s ease;
}
.card:hover{
    transform: scale(1.1,1.1);
}
.icon{
    color: rgb(223, 62, 88);
    font-size: 8em;
    text-align: center;
}
.info{
    color:#0D1D5F;
    text-align: center;
    font-size: 1.0em;
}
.info h3{
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.Projects{
    color: #0D1D5F;
    background-color: #C7C4BF;
}
.Projects.content{
    margin-top: 30px;
}
.project-card{
    background-color: white;
    border: 3px solid white;
    min-height: 14em;
    width:23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.6s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-image img{
    width: 100%;

}
.project-card:hover .project-image{
    opacity:0.5;
}
.project-info {
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: black;
}
.project-title{
   display: flex; 
   justify-content: space-between;
   text-transform: uppercase;
   font-weight: 800;
   margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #F4A91C;
}
.more-details:hover{
 
    color: yellow;
}
.contacts.icons{
    font-size: 5000px;
    
}
.contacts.infoo h3{
    color: black;

}
.contacts.infoo p{
    font-size: 1.5em;
}
.footer{
    background-color: #F4A91C;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: rgb(223, 62, 88); ;
}
.footer.social-icons{
    padding: 0 12px 0 0 ;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px  ;
    }
    .navigator a{ 
        padding-left: 10px;

    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;

    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
     @media(max-width:641px){
         body{
             font-size: 12px;
            
         }
         .main-content h2{
             font-size: 0.8em;
         }
         .main-content h3{
             font-size: 1.4em;
         }
         @media (max-width:300px){
             body{
                 font-size: 10px;
             }
         }
     }
     .left {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
.left{
    -webkit-text-size-adjust: 100%;
    color: #2D1407;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 25px;
    padding-left: 0;
}
.class{
    background-image:url(person.jpg) ;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

body {
  background-color: #C7C4BF;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  
}

button:hover {
  opacity: 0.8;
  
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: gray;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: left-side;
  margin: 24px 0 12px 0;
  margin-left: 250px;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
  
}

.container {
  padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
 
}
.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer; }
  .form-submit:hover {
    background: #4292dc; }

#signin {
  margin-top: 16px; }

#frm{  
    border: solid gray 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: white;  
    padding: 50px;  
}  
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    margin-left: 70%;  
} 
header1 {
    background-color: rgb(223, 62, 88);
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: black;
  }
.btn1 {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
.btn1:hover {
    background-color: red;
  }
  
}
